spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/j_client
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
